@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Jost:wght@400;500;600&family=Nunito:wght@400;500&family=Outfit:wght@400;500;600&family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fff;
}
nav {
  padding: 5rem 10rem;
}

.btn {
  grid-area: button;
  width: 100%;
}
.time {
  grid-area: time;
}
.date {
  grid-area: date;
}
.duration {
  grid-area: duration;
}

.filter-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-template-areas: "date time duration" "button button button";
}
select {
  padding: 1rem 3rem;
  font-size: 1rem;
  outline: none;
}
label {
  padding: 0.5rem 0rem;
}
section {
  display: flex;
  flex-direction: column;
}
button {
  padding: 1rem 2rem;
  width: 60%;
  background: #1a73e8;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
}
button:focus {
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
.output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background: #98f9ff;
  padding: 3rem 1rem;
}
.filter-container > .btn-container {
  padding: 1rem 1rem;
}
